{% extends "base.html" %}

{% block titulo  %}
    Reservar mascota
{% endblock %}

{% block contenido_principal %}
<h1 class="uk-article-title">Reservar mascota - {{anuncio.titulo}}</h1>
<h2 class="tm-article-subtitle">Introduce tus datos de pago</h2>
<form method="post" action="/anuncios/reservar/{{ anuncio._id.toString()}}?propietario=
{{anuncio.usuario}}&titulo={{anuncio.titulo}}" 
      class="uk-form uk-form-horizontal" encType="multipart/form-data" >
    <div class="uk-form-row">
        <label class="uk-form-label" for="tarjeta">Número de tarjeta</label>
        <div class="uk-form-controls">
            <input name="tarjeta" type="text" id="tarjeta" pattern="\d*"
                   placeholder="4050455055222333" minlength="16" maxlength="16"
                   style="width: 200px;" required>
            <i class="uk-icon-cc-mastercard"></i> <i class="uk-icon-cc-visa"></i>
        </div>
    </div>
    <div class="uk-form-row">
        <label class="uk-form-label" for="nombre">Nombre del titular</label>
        <div class="uk-form-controls">
            <input name="nombre" type="text" id="nombre" 
                   placeholder="Juan Perez Martinez" minlength="2" 
                   style="width: 200px;" required>
        </div>
    </div>
    <div class="uk-form-row">
        <label class="uk-form-label" for="fecha">Fecha de caducidad</label>
        <div class="uk-form-controls">
            <input name="fechames" type="number" id="fechames" min="1" max="12"
                   placeholder="2" style="margin-right: 6px; width: 94px;" required>
            <input name="fechaanyo" type="number" id="fechaanyo" min="2016" max="2026"
                   placeholder="2018" style="width: 94px;" required>
        </div>
    </div>
    <div class="uk-form-row">
        <label class="uk-form-label" for="cvc">CVC/CVV/CID</label>
        <div class="uk-form-controls">
            <input name="cvc" type="text" id="cvc" min="0" minlength="3" maxlength="3" 
                   pattern="\d*" placeholder="336" style="margin-right: 5px; width: 200px;" 
                   required>
        </div>
    </div>
    <div class="uk-form-row">
        <p class="uk-text-muted">Usted va a pagar el 2% como concepto de reserva de la mascota.
            Precio de la mascota {{anuncio.precio}}€<p>
        <p id="pagar" class="uk-text-bold uk-text-large"></p>
    </div>
    <div class="uk-form-row">
        <div class="uk-form-controls">
            <button class="uk-button uk-button-primary uk-button-large"  
                    type="submit">Pagar</button>
        </div>
    </div>
</form>

{% endblock %}

{% block scripts  %}
    <script>
        $(document).ready(function() {
            var pagar = ({{anuncio.precio}}*2)/100;
            $('#pagar').append("TOTAL A PAGAR: " + pagar + "€");
        });
    </script>
{% endblock %}